.header{
    background:#3b5998;
    width:100%;
    height:85px;g
}
body{
    margin:0;
}
.log{
    width:50%
}
.login{
     width:50%
}
.logo-text{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}